div {
  background-color: aquamarine;
  width: fit-content;
  border: cadetblue solid 5px;
  border-radius: 4rem;
  margin: 5px;
  padding: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
}
